.guestInteraction{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    margin-top: 30px;
    padding: 40px;
    border-radius: 10px;
}

.title{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    position: relative;
    padding: 0 10px;
}

.text{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.link{
    color: #af8c47;
    font-size: 50px;
    
}