@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  background-color: #625f5f;
  margin: 0;
}

/* Activo - verde */
.active {
  color: green;
}

/* Cancelado - rojo */
.cancelled {
  color: red;
}
